.venv/
venv/

.log
*.log

__pycache__/
*/__pycache__/
*.pyc

.idea/
.DS_Store

*.egg-info

build/
dist/

*.swp
database.env
*.tar

.vagrant

ansible_vault_password.txt

capco/production.py
capco/private.py

.env
data

