{% extends "rest_framework/base.html" %}

{% block body %}
  {{block.super}}
  <script>
    debugger
    document.getElementById('response info')
    response_info = document.getElementsByClassName('response-info')[0]
    parent_element = response_info.parentElement
    parent_element.removeChild(response_info);
    iframe = document.createElement('iframe')
    iframe.setAttribute('src', "{{response.data.file.url}}");
    iframe.classList.add('pdf-frame');
    parent_element.appendChild(iframe)
    $('.pdf-frame').css('height', $(window).height()+'px');
    $('.pdf-frame').css('width', $(window).width()+'px');
  </script>
{% endblock %}


